DATABASE_URL=postgresql://postgres:postgres@localhost:5432/surakshchain

PORT=3000

JWT_SECRET=

STELLAR_NETWORK=testnet
STELLAR_RPC_URL=
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org

STELLAR_TREASURY_PUBLIC_KEY=
STELLAR_TREASURY_SECRET_KEY=

ORACLE_PRIVATE_KEY=
ORACLE_PUBLIC_KEY=

FUNDING_PROVIDER=mock

PREVI_API_URL=
PREVI_API_KEY=
PREVI_API_SECRET=

MOCK_MODE=true
